* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 px;
  background-color: #817f79;
}
/*start style navigation*/

.navigation {
  display: flex;
  background-color: #726fa0;
}

.navigation-width {
  display: flex;
  width: 955px;
  justify-content: space-between;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  align-items: center;
}

.navigation-link ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 27px;
}

.navigation-link ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navigation-link ul li img {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.lawliet {
  border-radius: 50px;
}

.saya {
  display: flex;
}

.saya img {
  width: 20px !important;
  height: 20px !important;
}

.arrow {
  display: flex;
  align-items: unset;
  height: 20px !important;
  width: 20px !important;
}
/*end of navigation*/
/*start main  */

.utama {
  display: flex;
}

.card1 {
  width: 224px;
  height: 217px;
  background-color: aqua;
}
.card11 {
  background: white;
  height: 354px;
  width: 224px;
}
.card11 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
}
.card11 li img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.card111 {
  border-top: 13px;
}
.card111 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
}
.rekrut {
  border-top: 1px;
  color: #c4c4c4;
}

.card2 {
  width: 33%;
  background-color: burlywood;
}

.gambar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  flex-direction: row;
}

.card22 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex direction: row;
}

.card22 ul img {
  display: flex;
  width: 50px;
  height: 50px;
}
.card222 {
  background: white;
  height: 354px;
  width: 425px;
}
        
.card222 img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  flex-direction: row;
}


.card2222 {
  display: flex;
  align-items: center;
  flex direction: row;
}



.card3 {
  width: 33%;
  background-color: blue;
}

.card33 {

}
/*end of main*/
